#searchButton{
  
  background-color: white;
  color: black;
  border: 2px solid black; /* Green */
  margin-right: 450px;
}
#searchInput {
width: 500px;

}

.div-glavni {
  display: flex;
  width: 100%;
  height: 300px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
}

.flex-container-reverse{
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin-left: 1%;
  margin-right: 1%;
  width: 48%;
  height: 300px;
}

.div-desni{
  margin-left: 1%;
  margin-right: 1%;
  width: 48%;
  height: 360px;
}

.div-levi {
  margin-left: 1%;
  margin-right: 1%;
  width: 48%;
  height: 360px;
}

.carousel{
  width : 400px;
}

.carousel-inner > .item > img {
  width:400px;
  height:auto;
}

.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 15% auto; /* 15% from the top and centered */
padding: 20px;
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}
.tableData {
font-weight: bolder; 
font-size: medium;
color: white;
}
.tableRow{
background-color: darkgray;

}

/* The Close Button */

